* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #181719;
  color: #fff;
  height: 1000px;
  position: relative;
}
.header-container .material-symbols-outlined {
  display: none;
}
.logo {
  border: 1px solid white;
  text-transform: uppercase;
  align-self: center;
  padding: 6px;
  font-family: "Crimson Pro", serif;
  font-weight: 200;
  font-size: 15px;
  line-height: 16px;
  opacity: 0.7;
}

.menu-list {
  display: flex;
}
.menu-list li {
  list-style: none;
  padding: 40px;
  
}
.menu-list li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.menu-list li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.menu-list li a:hover::after {
  transform: scaleX(1);
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 93%;
  margin:0 auto;
}
.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6%;
  flex-basis: 50%;

}
.introduction--name {
  font-family: "Lora", serif;
  font-weight: 500;
  font-size: 48px;
}
.introduction--details {
  line-height: 35px;
  letter-spacing: 0.01rem;
  font-size: 24px;
  max-width: 410px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  opacity: 0.7;
}
.introduction--more {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
span.material-symbols-outlined {
  font-size: 24px;
  vertical-align: middle;
}

.introduction--visual {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("photo1.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 50%;

}
.main-container {
  height: 55vh;
  display: flex;
  width: 93vw;
  margin: 6% auto;


}
/*style this so that, whenever its displayed in different browsers sizes, its still positioned with the introduction--visual*/
.designer {
  position: absolute;
  background-color: #181719;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 360px;
  height: 180px;
  right: 5%;
  top: 92%;
  padding: 2rem;
 
}
.designer--bio {
  display: flex;
  gap: 5%;
  align-items: center;
  margin-bottom: 1rem;
}
.designer--info {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5rem;
  font-weight: 500;
  font-size: 14px;
}
.designer--authorization {
  font-family: "Lora", serif;
  font-weight: 700;
  line-height: 31px;
}

.designer--photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.designer--profession {
  opacity: 0.7;
}

.footer {
  position: fixed;
  bottom: 10px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 1rem;
  opacity: 0.7;
  width: 93%;

}



@media only screen and (max-width: 480px) {
/*Display menu with menu-icon*/ 
.menu-list {
    display: none;
  }

.menu-list.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  

.menu-list.show li  {
  color: #fff;
  font-size: 24px;
  padding: 30px;

}
/*Display body with open-close icon*/
.main-container.hidden{
  display: none;
}
.footer.hidden{
  display: none;
}
/*Display close-icon*/
.close-icon {
  display: none;
}
.close-icon.show {
  display: block;
  position: absolute;
  right: 0;
}
/*Display menu-icon*/
.menu-icon.hidden{
  display: none;
}
/*Display logo*/
.logo.hidden{
  display: none;
}

.header-container .material-symbols-outlined {
    display: block;
    font-size: 40px;
    position: relative;
    cursor: pointer;

}
/*Header-Container menu icon*/
.header-container.new {
  flex-direction: column;
  gap: 20vh;

}
.header-container {
    margin: 4% auto;
    
}
.logo {
  font-size: 16px;
  padding: 7px;
  }
.main-container {
  flex-direction: column;
  height: 100vh;
  width: 93vw;
  margin: 0 auto;
   
  }
.introduction--visual{
  height: 100%;
  width: 100%;
  background-image: url("photo1.png");
  background-size: cover;
  background-repeat: no-repeat;
  flex-basis: 50%;
  }
.introduction {
  gap: 10%;
}
.introduction--name{
  font-size: 36px;
}
.introduction--details{
  font-size: 16px;
  line-height: 22px;
}
.introduction--more {
  font-size: 14px;
}
.designer {
width: 300px;
height: auto;
padding:1rem;
right: 3.2%;
top: 84%;    
}
.designer--info {
  font-size: 14px;
}
.designer--authorization {
  line-height: 31px;
  font-size: 18px;
}
.footer{
  position: relative;
  margin-top: 200px;
}
}
  
  

